{% macro results(option, total) %}
    {% spaceless %}
        <div class="row">
            <div class="col-sm-3">{% if option %}{{ option.answer }}{% else %}__answer__{% endif %}</div>
            <div class="col-sm-9">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{% if option %}{{ option.count }}{% else %}__count__{% endif %}" aria-valuemin="0" aria-valuemax="100" style="width: {% if option %}{% if total > 0 %}{{ (option.count / total) * 100|round(2) }}{% else %}0{% endif %}{% else %}__percent__{% endif %}%;">
                        {% if option and option.count > 0 %}{{ option.count }}{% else %}__count__{% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}
{% import _self as fn %}
<div class="poll-container">
    <h3>{{ content.name }}</h3>
    <div class="row">
        <div class="col-xs-12">
            {{ content.body|raw }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="results-container" data-prototype="{{ fn.results()|e('html_attr') }}">
                {% if user_answers|length %}
                    {% if poll_results %}<p>Total Votes: {{ poll_results.total }}</p>{% endif %}
                    {% for option in poll_results.options %}
                        {{ fn.results(option, poll_results.total) }}
                    {% endfor %}
                {% endif %}
            </div>

            {% if allow_voting %}
            <form id="poll_{{ content.id }}" name="poll_form_{{ content.id }}" class="poll-form" action="{{ path('linestorm_cms_module_post_api_vote_poll', {id: content.id}) }}" method="post">
                <input type="hidden" name="_method" value="PATCH">
                {% for option in content.options %}
                    <p>
                        <label>
                            {% if content.multiple %}
                                <input type="checkbox" name="poll_{{ content.id }}_option_{{ option.id }}" value="{{ option.id }}" />
                            {% else %}
                                <input type="radio" name="poll_{{ content.id }}_option" value="{{ option.id }}" />
                            {% endif %}
                            {{ option.answer }}
                        </label>

                    </p>
                {% endfor %}
                <p>
                    <button type="submit" class="btn btn-primary">
                        Vote
                    </button>
                </p>
            </form>
            {% endif %}

            {% if not app.user and not content.allowAnonymous %}
                <p class="text-muted">You can only vote if you are logged in!</p>
            {% endif %}
        </div>
    </div>
</div>
